@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes/TTLakes-Regular.woff') format('woff'),
        url('font/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes/TTLakes-Medium.woff') format('woff'),
        url('font/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('font/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('font/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

.container {
    font-family: 'TT Lakes', sans-serif;
    width: 100%;
    height: 100%;
    row-gap: 20px;
}


.header {
    width: 100%;
    height: 100%;
}

.header__burger-btn,
.header__phone-btn,
.header__chat-btn,
.header__profile-btn,
.header__repair-btn,
.header__check-btn {
    width: 40px;
    height: 40px;
    top: 24px;
    left: 24px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 20px;
    background: #FF3E79;
}

.header__img {
    display: flex;
    flex-direction: row;

}

.img__group {
    width: 96px;
    height: 50px;
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img__divider {
    padding-left: 17px;
}

.img__repair {
    padding-left: 17px;
}

.img__check {
    padding-left: 17px;
}

.services {
    width: 100%;
    background: #F8F8F8;
}

.services__container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.services__title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
    width: 100%;
    height: auto;
    top: 112px;
}

.services__title-name {
    font-size: 28px;
    white-space: nowrap;
}

.services__info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 16px;
}

.more {
    padding-bottom: 0px;
}

.services__text,
.services__text--desktop-only,
.services__text--desktop2 {
    font-family: TT Lakes;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin: 0;
    min-width: 0;
    overflow-wrap: break-word;
}

.title__name {
    font-size: 28px;
    font-weight: 700;
    color: #1B1C21;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

.services__nav {
    width: 100%;
    height: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 0px;
    margin-bottom: 24px;
}

.menu {
    display: flex;
    gap: 16px;
    top: 176px;
    left: 16px;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    white-space: nowrap;
    align-items: center;
    margin-top: 0;
    overflow: visible;
}


.menu__item {
    top: 176px;
    left: 262px;
    border-radius: 6px;
    color: #7E7E82;
    margin: 0;
    padding: 8px;
    flex-shrink: 0;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}

.menu__item:first-child {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
    width: 246px;
    height: 40px;
    padding-left: 25px;
}

.more {
    display: flex;
}

.more__readmore {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    width: 100%;
    height: 88px;
}

.header__container--left {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-start;
}

.header__container--right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__logo {
    display: block;
}

.header__burger {
    margin-right: 0px;
}


.header__shadow {
    display: block;
    width: 100%;
    height: 1px;
    top: 87px;
    background: #D9FFF5;
}

.services__img {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 30px;
}

.header__desktop-group {
    display: none;
}


.header__divider--desktop-only {
    display: none;
}


.header__action-text {
    display: none;
}


.header__actions {
    display: flex;
    gap: 16px;
}

.header__action-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.services__text--desktop-only,
.services__text--desktop2,
.header__divider--mobile-only {
    display: none;
}

.services__desktop-actions {
    display: none;
}

.services__text--desktop2 {
    display: none;
}

.more__img {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .services__info {
        display: block;
        column-count: 2;
        column-gap: 40px;
        column-rule: none;
    }

    .services__text {
        flex: 1;
        margin-bottom: 0;
    }

    .services__image {
        flex: 2;
    }

    .header__desktop-group {
        display: flex;
        gap: 16px;
    }

    .header__divider--mobile-right {
        display: none;
    }

    .header__divider--desktop-only {
        display: block;
    }

    .more {
        display: flex;
        margin-top: 16px;
    }

    .services__text--desktop-only {
        display: block;
        margin-top: 16px;
    }

    .services__img {
        border-radius: 8px;
        flex: 2;

    }

    .services__text {

        margin-bottom: 0;
    }

    .services__text,
    .services__text--desktop-only,
    .more {
        flex: 1 1 60%;
        order: 1;
    }

    .services__text--desktop2 {
        display: none;
    }

}


@media (min-width: 1120px) {
    .services__desktop-actions {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-left: auto;
    }

    .services__desktop-actions .header__action-text {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #1B1C21;
        white-space: nowrap;
    }

    .header__repair-btn,
    .header__check-btn {
        display: flex;
        width: 40px;
        height: 40px;
        top: 24px;
        left: 24px;
        border-radius: 20px;
        background: #FF3E79;
    }

    .header {
        display: none;
    }

    .services__container {
        padding: 32px;
        width: 100%;
        margin: 0 auto;
        gap: 30px;
    }

    .services__info {
        gap: 40px;
    }

    .services__text {
        flex: 1;
        max-width: none;
        flex-wrap: nowrap;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    .services__image {
        display: flex;
        flex: 1;
    }

    .menu {
        flex-wrap: wrap;
        white-space: normal;
        height: 82px;
        top: 90px;
        left: 33px;
        border-radius: 6px;
        width: 100%;
        margin-bottom: 32px;
    }

    .services__nav {
        overflow-x: visible;
        overflow-y: visible;
    }

    .menu__item {
        font-size: 16px;
        white-space: normal;
    }

    .services__text--desktop2 {
        display: block;
    }

    .services__title {
        margin-bottom: 0;
        justify-content: flex-start;
    }

    .services__text--desktop-only {
        display: none;
    }

}